# PROJECT DIRS
DIRS_INC:=inc inc/vendor
DIR_SRC :=src
DIR_OBJ :=obj
DIR_DEP :=dep
DIR_INT :=int
# INT DIRS
DIR_INT_PYTHON:=$(DIR_INT)/python

# LIB DIRS
DIR_LIB    :=$(HOME)/Documents/libs/PC
DIR_INC_LIB:=$(DIR_LIB)/inc
DIR_LIB_LIB:=$(DIR_LIB)/lib
DIR_INT_LIB:=$(DIR_LIB)/int
# INT DIRS
DIR_INT_PYTHON_LIB:=$(DIR_INT_LIB)/python

# TOOLCHAIN
CC    :=gcc
CXX   :=g++
ASMC  :=gcc
NVCC  :=nvcc
AR    :=ar
SIZE  :=size
RANLIB:=ranlib
SWIG  :=swig

# COMPILER FLAGS
WARNING     :=-Wall -Wextra -pedantic -Wno-write-strings
OPTIMIZATION:=-O3 -Ofast -fdata-sections -ffunction-sections
