# Compiled Object files
*.slo
*.lo
*.o
*.co
*.cuo
*.oc
*.obj
*.pyc

# Object dependencies
*.d
*.cud

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.elf
*.out
*.app
*.asm
*.bin
*.hex

# Man pages
*.[0-9].gz

# Code traversal
tags
cscope
.ycm_extra_conf.py

# Other
ARM/inc/*
AVR/inc/*
PC/inc/*
PC/int/*
compile_commands.json
