# PROJECT DIRS
IDIRS:=inc
SDIR :=src
ODIR :=obj
DDIR :=dep

# LIB DIRS
LDIR :=$(HOME)/Documents/libs/PC
LIDIR:=$(LDIR)/inc
LLDIR:=$(LDIR)/lib

# TOOLCHAIN
CC    :=gcc
CXX   :=g++
ASMC  :=gcc
AR    :=ar
SIZE  :=size
RANLIB:=ranlib

# COMPILER FLAGS
WARNING     :=-Wall -Wextra -pedantic -Wno-write-strings
OPTIMIZATION:=-O3 -Ofast -fdata-sections -ffunction-sections
