<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 8.0.1 (tags/RELEASE_801/final)</string>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>22</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>22</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>38</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>38</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>38</integer>
      <key>col</key><integer>16</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>38</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>38</integer>
         <key>col</key><integer>54</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Memory is allocated</string>
     <key>message</key>
     <string>Memory is allocated</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>38</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>38</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>39</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>39</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>39</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>39</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>39</integer>
           <key>col</key><integer>39</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>39</integer>
           <key>col</key><integer>43</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>39</integer>
      <key>col</key><integer>39</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Potential memory leak</string>
     <key>message</key>
     <string>Potential memory leak</string>
    </dict>
   </array>
   <key>description</key><string>Potential memory leak</string>
   <key>category</key><string>Memory error</string>
   <key>type</key><string>Memory leak</string>
   <key>check_name</key><string>cplusplus.NewDeleteLeaks</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>b768a13e338486f4c45820eb37702114</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>main</string>
  <key>issue_hash_function_offset</key><string>19</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>39</integer>
   <key>col</key><integer>39</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>18</integer>
    <integer>19</integer>
    <integer>22</integer>
    <integer>23</integer>
    <integer>25</integer>
    <integer>26</integer>
    <integer>38</integer>
    <integer>39</integer>
   </array>
   <key>1</key>
   <array>
    <integer>26</integer>
   </array>
   <key>2</key>
   <array>
    <integer>38</integer>
    <integer>39</integer>
    <integer>81</integer>
    <integer>82</integer>
    <integer>83</integer>
    <integer>84</integer>
    <integer>86</integer>
    <integer>89</integer>
    <integer>91</integer>
    <integer>93</integer>
    <integer>94</integer>
    <integer>95</integer>
    <integer>156</integer>
    <integer>163</integer>
    <integer>172</integer>
    <integer>173</integer>
   </array>
   <key>3</key>
   <array>
    <integer>51</integer>
   </array>
   <key>4</key>
   <array>
    <integer>22</integer>
    <integer>36</integer>
    <integer>37</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>22</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>22</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>38</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>38</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>38</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>38</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>39</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>39</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>39</integer>
      <key>col</key><integer>16</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>39</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>39</integer>
         <key>col</key><integer>54</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Memory is allocated</string>
     <key>message</key>
     <string>Memory is allocated</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>39</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>39</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>2</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>20</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>24</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>40</integer>
      <key>col</key><integer>20</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Potential memory leak</string>
     <key>message</key>
     <string>Potential memory leak</string>
    </dict>
   </array>
   <key>description</key><string>Potential memory leak</string>
   <key>category</key><string>Memory error</string>
   <key>type</key><string>Memory leak</string>
   <key>check_name</key><string>cplusplus.NewDeleteLeaks</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>f29257eb561d685ddff828c6dc3648bc</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>main</string>
  <key>issue_hash_function_offset</key><string>20</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>40</integer>
   <key>col</key><integer>20</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>18</integer>
    <integer>19</integer>
    <integer>22</integer>
    <integer>23</integer>
    <integer>25</integer>
    <integer>26</integer>
    <integer>38</integer>
    <integer>39</integer>
    <integer>40</integer>
   </array>
   <key>1</key>
   <array>
    <integer>26</integer>
   </array>
   <key>2</key>
   <array>
    <integer>38</integer>
    <integer>39</integer>
    <integer>81</integer>
    <integer>82</integer>
    <integer>83</integer>
    <integer>84</integer>
    <integer>86</integer>
    <integer>89</integer>
    <integer>91</integer>
    <integer>93</integer>
    <integer>94</integer>
    <integer>95</integer>
    <integer>104</integer>
    <integer>105</integer>
    <integer>114</integer>
    <integer>116</integer>
    <integer>120</integer>
    <integer>130</integer>
    <integer>140</integer>
    <integer>141</integer>
    <integer>150</integer>
    <integer>152</integer>
    <integer>156</integer>
    <integer>163</integer>
    <integer>172</integer>
    <integer>173</integer>
   </array>
   <key>5</key>
   <array>
    <integer>1011</integer>
    <integer>1012</integer>
    <integer>1013</integer>
    <integer>1015</integer>
    <integer>1019</integer>
    <integer>1020</integer>
    <integer>1021</integer>
    <integer>1308</integer>
    <integer>1309</integer>
    <integer>1310</integer>
   </array>
   <key>6</key>
   <array>
    <integer>66</integer>
   </array>
   <key>3</key>
   <array>
    <integer>51</integer>
   </array>
   <key>7</key>
   <array>
    <integer>73</integer>
    <integer>74</integer>
   </array>
   <key>4</key>
   <array>
    <integer>22</integer>
    <integer>35</integer>
    <integer>36</integer>
    <integer>37</integer>
   </array>
   <key>8</key>
   <array>
    <integer>65</integer>
    <integer>66</integer>
   </array>
  </dict>
  </dict>
 </array>
 <key>files</key>
 <array>
  <string>src/main.cpp</string>
  <string>/home/arch/Documents/libs/PC/inc/anna/neural_networks/classifier.h</string>
  <string>/home/arch/Documents/libs/PC/inc/anna/neural_networks/base.h</string>
  <string>/home/arch/Documents/libs/PC/inc/anna/shape.h</string>
  <string>/home/arch/Documents/libs/PC/inc/anna/layers/input.h</string>
  <string>/../lib64/gcc/x86_64-pc-linux-gnu/9.1.0/../../../../include/c++/9.1.0/bits/shared_ptr_base.h</string>
  <string>/home/arch/Documents/libs/PC/inc/anna/tensor.h</string>
  <string>/home/arch/Documents/libs/PC/inc/anna/layers/base.h</string>
  <string>/home/arch/Documents/libs/PC/inc/anna/layers/convolution.h</string>
 </array>
</dict>
</plist>