# PROJECT DIRS
DIRS_INC:=inc inc/vendor
DIR_SRC :=src
DIR_OBJ :=obj
DIR_DEP :=dep

# LIB DIRS
DIR_LIB    :=$(HOME)/Documents/libs/AVR
DIR_INC_LIB:=$(DIR_LIB)/inc
DIR_LIB_LIB:=$(DIR_LIB)/lib

# TARGETS
MCUS:=atmega328p

# TOOLCHAIN
TOOLCHAIN:=avr-
CC  :=$(TOOLCHAIN)gcc
CXX :=$(TOOLCHAIN)g++
ASMC:=$(TOOLCHAIN)gcc
AR  :=$(TOOLCHAIN)ar
SIZE:=$(TOOLCHAIN)size

# COMPILER FLAGS
WARNING     :=-Wall -Wextra -pedantic -Wno-write-strings
OPTIMIZATION:=-O3 -Os -fdata-sections -ffunction-sections -fno-exceptions
