# PROJECT DIRS
IDIRS:=inc
PIDIR:=inc/public
SDIR :=src
ODIR :=obj
DDIR :=dep

# LIB DIRS
LDIR :=$(HOME)/Documents/libs/AVR
LADIR:=$(LDIR)/arc
LIDIR:=$(LDIR)/inc

# TARGETS
MCUS :=atmega328p

# TOOLCHAIN
TOOLCHAIN:=avr-
CC    :=$(TOOLCHAIN)gcc
CXX   :=$(TOOLCHAIN)g++
ASMC  :=$(TOOLCHAIN)gcc
AR    :=$(TOOLCHAIN)ar
SIZE  :=$(TOOLCHAIN)size

# COMPILER FLAGS
WARNING     :=-Wall -Wextra -pedantic -Wno-write-strings
OPTIMIZATION:=-O3 -Os -fdata-sections -ffunction-sections -fno-exceptions
